body {
    color: rgb(191, 191, 238);
    background-color: rgb(121, 109, 109);
    border-radius: 10cm;
  }
  
  h1 {
border-radius: 110%;
text-align: center;
  }

  p {
        font-size: 16px;
        color: #333;
        margin: 10px 0;

  }

  